<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

    <form [formGroup]="registerForm" class="p-1">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-group">
          <label>Nome Completo</label>
          <input type="text" class="form-control" formControlName="fullName"
          [ngClass]="cssValidator(f.fullName)" placeholder="Insira o nome completo" />
          <div class="invalid-feedback">
            Nome completo é obrigatório.
          </div>
        </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="text" formControlName="email"
        [ngClass]="cssValidator(f.email)" placeholder="Insira o E-mail Completo" />
        <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">
          E-mail é obrigatório.
        </div>
        <div *ngIf="f.email.errors?.email && f.email.errors?.pattern &&  f.email.touched" class="invalid-feedback">
          Deve ser um E-mail válido.
        </div>
	
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input class="form-control" type="text" formControlName="userName"
        [ngClass]="cssValidator(f.userName)" placeholder="Insira o nome de Usuário" />
        <div class="invalid-feedback">
          Usuário é obrigatório.
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" type="password" formControlName="password"
          [ngClass]="cssValidator(f.password)" placeholder="Digite uma Senha" />
          <div *ngIf="f.password.errors?.required && f.password.touched"
          class="invalid-feedback">
            Senha é obrigatório.
          </div>
          <div *ngIf="f.password.errors?.minlength && f.password.touched"
          class="invalid-feedback">
            Deve conter no mínimo 6 caracteres.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control" type="password" formControlName="confirmPassword"
          [ngClass]="cssValidator(f.confirmPassword)" placeholder="Confirme a Senha" />
          <div *ngIf="f.confirmPassword.errors?.required"
            class="invalid-feedback">
            Confirmar Senha é obrigatório.
          </div>
          <div *ngIf="f.confirmPassword.errors?.mustMatch"
            class="invalid-feedback">
            Confirmar Senha deve ser igual a Senha.
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5"  [disabled]="!registerForm.valid" 
          (click)="cadastrarUsuario()">
            Registrar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>
	</div>
</div>

